{% set currentRoute = global.request.get('_route') %}
<div class="menu">
    <ul class="list">
        <li class="header">MENÚ PRINCIPAL</li>
        <li {% if currentRoute == 'admin' %}class="active"{% endif %}>
            <a href="{{ url('admin') }}">
                <i class="material-icons">home</i>
                <span>Home</span>
            </a>
        </li>
        <li {% if currentRoute == 'admin_player_update' or currentRoute == 'admin_player_add'%}class="active"{% endif %}>
            <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                 <i class="material-icons">group</i>
                <span>Usuarios</span>
            </a>
            <ul class="ml-menu" style="display: block;">
                <li {% if currentRoute == 'admin_players' %}class="active"{% endif %}>
                    <a href="{{ url('admin_players') }}" class=" waves-effect waves-block">Todos</a>
                </li>
                <li {% if currentRoute == 'admin_players_inactive' %}class="active"{% endif %}>
                    <a href="{{ url('admin_players_inactive') }}" class=" waves-effect waves-block">Inactivos</a>
                </li>
                <li {% if currentRoute == 'admin_admins' %}class="active"{% endif %}>
                    <a href="{{ url('admin_admins') }}" class=" waves-effect waves-block">Administradores</a>
                </li>
            </ul>
        </li>
        <li {% if currentRoute == 'admin_leagues' %}class="active"{% endif %}>
            <a href="{{ url('admin_leagues') }}">
                <i class="material-icons">golf_course</i>
                <span>Ligas</span>
            </a>
        </li>
        <li {% if currentRoute == 'admin_courts' %}class="active"{% endif %}>
            <a href="{{ url('admin_courts') }}">
                <i class="material-icons">map</i>
                <span>Pistas</span>
            </a>
        </li>
    </ul>
</div>