{% extends "layout.html.twig" %}

{% block sidebar %}
    {{ include('logout_sidebar.html.twig') }}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ asset('css/lightbox.css') }}" media="screen"/>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ asset('js/lightbox-2.6.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
        });
    </script>
{% endblock %}

{% block content %}
    <div><h1 class="encabezado">Comentarios</h1>
        <form name="formcomentario" method="post">
            <textarea name="comentario"></textarea>
            <input type="submit" style="cursor:pointer; padding:.2em 1em;" value="Enviar" />
        </form>
    </div>
    <br/>
    {% for comentario in comentarios %}
        <h2 class="divisiones">{{ comentario.fecha | date('d/m/Y  H:i:s')}} | {{ comentario.usuario }}</h2>
        <div class="resultados" style="margin-top:0; margin-bottom:2em; font-weight:normal;">
            {{ comentario.contenido | raw | nl2br }}
        </div>
    {% endfor %}
{% endblock %}