{% extends "layout.html.twig" %}

{% block sidebar %}
    {% if is_granted('ROLE_USER') %}
        {{ include('logout_sidebar.html.twig') }}
    {% else %}
        {{ include('sidebar.html.twig') }}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Envía tus dudas o sugerencias a los organizadores...</h1>
    {{ form_start(form) }}
    {{ form_widget(form, {'attr': {'class': 'formulario'}}) }}
    {{ form_end(form) }}
{% endblock %}


