<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es">
    <head>
        <title>{% block title '' %}Tenis Salceda</title>
        <meta name="description" content="Tenis Salceda de Caselas" />
        <meta name="keywords" content="tenis, salceda" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        {% block extra_css %}{% endblock %}
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div id="main">
            <div id="header"></div>
            {{ include('menu.html.twig') }}
            <div id="site_content">		
                {{ include('sidebar.html.twig') }}
                <div id="content">
                    <div class="content_item">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {{ include('footer.html.twig') }}
    </body>
</html>
