 <div id="menubar">
     <div id="welcome">
         <h1>Club de Tenis EDM Salceda</h1>
     </div>
     <div id="menu_items">
         <ul id="menu">
          <li class="current"><a href="{{ url('homepage') }}">Portada</a></li>
          <li><a href="{{ url('players') }}">Jugadores</a></li>
          <li><a href="{{ url('scores') }}">Resultados</a></li>
          <li><a href="{{ url('standings') }}">Clasificación</a></li>
          <li><a href="{{ url('ranking') }}">Ranking</a></li>
          <li><a href="{{ url('comments') }}">Comentarios</a></li>
          <li><a href="{{ url('contact') }}">Contacto</a></li>
          <li><a href="{{ url('stadium') }}">Pabellón</a></li>
          <li><a href="{{ url('facebook') }}">Facebook</a></li>
        </ul>
     </div>
 </div>
